/* Resetting margins and paddings for common elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efe7e7;
}

header {
    background-color: #efe7e7;
    color: #22252a;
    text-align:center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 28px;
}

footer {
    background-color: #efe7e7;
    color: #22252a;
    text-align: center;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

main {
    /*padding: 20px;*/
    max-width: 1010px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    background-color: #efe7e7;
}


.memos {
    font-family: 'Inter', sans-serif;
    /*background-color: #f5f5f5;*/
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

.memos-intro {
    color: #22252a;
    line-height: 1.6;
}

.memo-container {
    max-width: 720px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px #969698;
    padding: 20px;
}

.memo-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.memo-header p {
    margin: 5px 0;
    color: #22252a;
}

.memo-body {
    color: #22252a;
    line-height: 1.6;
    /*padding: 0 30px;*/
}

.memo-body p {
    margin: 35px 0px 10px;
}

.memo-body p strong {
    font-weight: 600;
}

.memo-body ul {
    list-style-type: disc;
    padding-left: 40px;  /* Increased padding to indent more */
    margin-bottom: 40px;
}

.memo-body ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: underline; /* Underline all links */
    color: inherit; /* Inherit the color from the parent element */
}

.primary-button {
    background-color: #34373d;
    color: #efe7e7;
    padding: 10px 20px; /* Some padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .memo-container {
        width: 100%; /* Full width within the container */
        max-width: none; /* Remove the max-width restriction */
    }
}
