/* Resetting margins and paddings for common elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: #0a0012;
}


a {
    text-decoration: underline; /* Underline all links */
    color: inherit; /* Inherit the color from the parent element */
    font-size: 12px; /* Set a specific font size for all links */
}

header {
    background-color: #0a0012;
    color: #eff0f2;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: normal;
    margin-top: 12px;
}

footer {
    background-color: #0a0012;
    color: #eff0f2;
    text-align: center;
    padding: 1em;
    font-family: 'Playfair Display';
    font-size: 12px;
}

main {
    padding: 20px;
    max-width: 1010px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
}

.grid-container-home {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Wrap items to the next line if necessary */
    gap: 16px; /* Adjust the space between the items */
    padding: 8px; /* Optional: add padding around the container */
}


.grid-item-home {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 20px;
    border: 2px solid #eff0f2; /* Add this line for a white border */
    border-radius: 24px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.grid-item-home p {
    width: 75%; /* Adjust the width as needed */
    margin: 0 auto 20px; /* Add margin at the bottom of the paragraph */
    text-align: center;
    color: #eff0f2;
}


.grid-item-home a {
    display: block; /* Make the link a block-level element to control its size and spacing */
    margin-top: 10px; /* Add margin at the top of the link */
    text-align: center;
    color: #eff0f2; /* Adjust link color */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .grid-item-home {
        width: 100%; /* Full width within the container */
        max-width: none; /* Remove the max-width restriction */
    }
}
